# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Local Config (since we inject it via Compose)
config.py